html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

glava {
	margin: 20px;
}

telo {
	flex: auto;
	margin: 10px;
	width: calc(100% - 50px);
	overflow: visible;
	padding: 10px;
	display: block;
	border-radius: 6px;
	box-shadow: 10px 7px 17px -1px rgba(0,0,0,0.75);
	border: 2px solid red;
}

#igrisce {
	position: relative;
	
}

.zogica {
	background-color: black;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
}

#barve > button {
	border: none;
	margin: 5px;
}

#start {
	float: right;
	width: 200px;
	background: white;
	height: 50px;
	font-size: 18px;
}

#novaBarva, #odstraniBarve, #start {
	background: white;
	border-radius: 6px;
	box-shadow: 10px 7px 17px -1px rgba(0,0,0,0.75);
	border: 2px solid red;
}
